@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sage-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--gray-2);
    --foreground: var(--gray-12);

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: var(--jade-4);
    --primary-foreground: var(--jade-11);

    --secondary: var(--jade-4);
    --secondary-foreground: var(--jade-12);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--sage-4);
    --accent-foreground: var(--sage-12);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 81%;
    --input: 0 0% 81%;
    --ring: 175 30% 69%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: var(--gray-3);
    --foreground: 0 0% 100%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 175 35% 78%;
    --primary-foreground: 0 0% 0%;

    --secondary: 174 36% 12%;
    --secondary-foreground: 176 34% 66%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 11%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 176 30% 31%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
